.playlists {
	margin-top: 30px;
}

.playlist-container .header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.playlist-container .header h2 {
	margin: 0;
}

.playlist-container .header form {
	margin-left: 20px;
}

.videos {
	margin-top: 20px;
}

.videos .video {
	padding: 20px;
	background-color: #f5f5f5;
}

.videos .video.deleted {
	background-color: #f26b5b;
}

.videos .video.private {
	background-color: #aa84ff;
}

.videos .video.deleted.private {
	background-color: #d176a6;
}

.title-history-form {
	display: none;
}