footer
  .container.text-center
    p.pull-left © 2016 ytpl, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/bbackerry/ytpl') GitHub Project
      li
        a(href='https://github.com/bbackerry/ytpl/issues') Issues
