extends layout

block content
	h1 Current Playlists
	p Browse your saved playlists
	hr
	.row
		.col-sm-12
			form.form-horizontal(action='/playlists/create', method='POST')
				input(type='hidden', name='_csrf', value=_csrf)
				.form-group(style='margin-left:0')
					input.form-control(type='text', name='plURL', id='plURL', placeholder='Youtube Playlist URL', autofocus, required)
					button.btn.btn-success(type='submit')
						i.fa.fa-plus
						| Add
			hr
			
			ul.list-group
				each item in playlists
					a(href='/playlists/' + item.id)
						li.list-group-item= item.title