extends layout

block content
	h1 Current Playlists
	p Browse your saved playlists
	hr
	.row
		.col-sm-12
			ul.list-group
				each item in playlists
					a(href='/playlists/' + item.id)
						li.list-group-item= item.title