<include href="header.htm" />

<div class="container-fluid home">
	<div class="page-header">
		<h1>YTPL</h1>
	</div>
	
	<div class="ps">
		<img src="{{ @BASE }}/img/jumbotron.jpg" />
		<div class="content">
			<p>YTPL is a youtube playlist backup solution. It remembers your playlist's video titles so you can search them again later and
			add it back to your playlist !</p>
			
			<span class="more">More features to come soon...</span>
			<p>This website's source is open-source and available on <a href="https://github.com/bbackerry/ytpl" target="_blank">Github</a></p>
		</div>
	</div>
</div>

<include href="footer.htm" />
