<?php echo \Template::instance()->render('header.htm'); ?>

<div class="container-fluid playlist-container">
	
	<div class="row">
		<div class="col-xs-1 col-sm-2"></div>
		<div class="col-xs-10 col-sm-8">
		
			<div class="header">
				<a href="<?= $BASE ?>/playlists/<?= $plid ?>"><h2><?= $playlistTitle ?></h2></a>
			
				<form id="sync" method="post" action="<?= $BASE ?>/playlists/<?= $plid ?>/sync">
					<button type="submit" class="btn btn-default btn-md">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Sync
					</button>
					
					<?php
						$sort_url = "$BASE/playlists/$plid/".($currentPage > 0 ? 'page/'.($currentPage+1) : 'page/1')."/?orderBy=publishedAt&order=";
						$sort_url .= (isset($_GET['order']) && $_GET['order'] == 'DESC') ? 'ASC' : 'DESC';
					?>
					<a href="<?= $sort_url ?>">
						<button type="button" class="btn btn-default btn-md">
							<span class="glyphicon glyphicon-sort-by-order<?= (isset($_GET['order']) && $_GET['order'] == 'DESC') ? "":"-alt" ?>"aria-hidden="true">
							</span> Sort
						</button>
					</a>
					<input type="hidden" name="plid" value="<?= $plid ?>" />
				</form>
			</div>
			
			<div class="row videos">
				<?php foreach($videos as $video): ?>
					<?php
						$videoClasses = "";
						if (is_null($video['thumbnails'])) $videoClasses .= ' deleted';
						if ($video['status'] == 'private') $videoClasses .= ' private';
					?>
					<div class="media video<?= $videoClasses ?>">
						<div class="media-left media-middle">
							<a href="https://www.youtube.com/watch?v=<?= $video['ytid'] ?>" target="_blank">
								<img class="media-object" style="height: 64px;" src="<?= $video['thumbnails'] ?>">
							</a>
						</div>
						<div class="media-body">
							<a href="https://www.youtube.com/watch?v=<?= $video['ytid'] ?>" target="_blank">
								<span class="title"><?= $video['currentTitle'] ?></span>
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</a>
							
							<div class="actions">
								<?php if (!empty($video['titleHistory']) && $video['titleHistory'] !== $video['currentTitle']): ?>
									<div class="title-history">
										<a class="btn btn-default title-history-show" href="#" role="button">Title History</a>
										
										<div class="title-history-form">
											<p class="legend">Update this video's title to a previous title</p>
											<ul class="list-group">
												<?php foreach(explode(";", $video['titleHistory']) as $title): ?>
													<?php if ($title != $video['currentTitle']): ?>
														<a href="#" class="list-group-item"><?= $title ?></a>
													<?php endif; ?>
												<?php endforeach; ?>
											</ul>
											
											<div class="checkbox">
												<label><input type="checkbox" <?= $video['forceTitleOverwrite'] == 0 ? "checked" : "" ?>/>
												Prevent future syncs from overwriting this video's title</label>
											</div>
											<input type="hidden" class="video-id" value="<?= $video['id'] ?>" />
											<a class="btn btn-success" href="#" role="button">Update</a>
											<a class="btn btn-warning" href="#" role="button">Cancel</a>
										</div>
									</div>
								<?php endif; ?>
								
								<div class="delete-video">
									<button type="button" class="btn btn-danger btn-md" data-plid="<?= $plid ?>" data-vid="<?= $video['id'] ?>">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete Video
									</button>
								</div>
							</div>
						</div>
					</div>
				<?php endforeach; ?>
			</div>
			
			<?php if (isset($pagesCount)): ?>
				<nav aria-label="Page navigation">
					<ul class="pager">
						<?php
							$base_el = "<li><a href=\"$BASE/playlists/$plid/page/";
							if ($currentPage > 0) {	
								echo $base_el . $currentPage;
								echo "?orderBy=publishedAt&order=" . ((isset($_GET['order']) && $_GET['order'] == 'DESC') ? 'DESC' : 'ASC');
								echo '">Previous</a></li>';
							}
							if ($currentPage + 1 < $pagesCount && count($videos) > 0) {
								echo $base_el . ($currentPage + 2);
								echo "?orderBy=publishedAt&order=" . ((isset($_GET['order']) && $_GET['order'] == 'DESC') ? 'DESC' : 'ASC');
								echo '">Next</a></li>';
							}
						?>
					</ul>
				</nav>
			<?php endif; ?>
			
		</div>
		<div class="col-xs-1 col-sm-2"></div>
	</div>
	
</div>

<?php Base::instance()->set('jsInclude', array('playlist')); ?>
<?php echo \Template::instance()->render('footer.htm'); ?>